<nav id="primary-nav" class="nav-collapse" aria-label="Põhinavigatsioon">
  <ul class="navbar-nav">
    <li>
      <a href="#kontakt" class="nav-link">Kontakt</a>
    </li>
    <li>
      <a href="/muis2" class="nav-link">MuIS2</a>
    </li>
    <li>
      <a href="/muis-rename" class="nav-link">MuIS Rename</a>
    </li>
    <li>
      <a href="/kirjutised" class="nav-link">Kirjutised</a>
    </li>
  </ul>
</nav>
