<nav aria-label="Põhinavigatsioon">
  <ul class="navbar-nav">
    <li>
      <a href="./#kontakt" class="nav-link">Kontakt</a>
    </li>
    <li>
      <a href="/muis2" class="nav-link">MuIS2</a>
    </li>
  </ul>
</nav>
